{% load i18n %}
<div class="panel panel-default">
    <div class="panel-heading">TJUT_OJ_论坛</div>
    <div class="panel-body">
        Node BY Django !<br>
        Service For Student IN TJUT !
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <a href="{% url niji_login_url_name %}" class="btn btn-block btn-info">{% trans 'Log in' %}</a>
            </div>
            <div class="col-md-6">
                <a href="{% url niji_reg_url_name %}" class="btn btn-block btn-default">{% trans 'Reg' %}</a>
            </div>
        </div>
        <hr/>
{#        <p>#}
{#            <a href="#">Reset Password</a>#}
{#        </p>#}
    </div>
</div>
